.App {
  background-color: #282c34;
  min-height: 100vh;
}

.scroll-list-container {
  width: 100%;
}

.item {
  text-indent: 2rem;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  line-height: 50px;
  height: 50px;
  border-bottom: 1px solid #fff;
}

.setting {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50px;
}

.setting div {
  padding: 10px 15px;
  background-color: rgb(4, 6, 21);
  border-radius: 20px;
  color: #fff;
}

.setting .selected {
  background-color: rgb(94, 175, 103);
}
